#portfolio {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

body {
    background-color: rgb(96, 114, 116);
    margin: 0%;
}

header {
    text-align: center;
    color: rgb(250, 238, 209);
}

footer {
    background-color: rgb(178, 165, 155);
    text-align: center;
    color: rgb(96, 114, 116);
}

#navbar {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
    flex: none;
}

.item1,.item2,.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 30vh;
    height: 30vh;
    border-radius: 12px;
    background-color: rgb(250, 238, 209);
}


@media (max-width: 800px) {
    #navbar {
      flex-direction: column; 
    }
  }