#portfolio {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

#projects {
    margin-top: 25px;
}

body {
    background-color: rgb(96, 114, 116);
    margin: 0%;
}

header {
    text-align: center;
    color: rgb(250, 238, 209);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;;
}

footer {
    background-color: rgb(178, 165, 155);
    text-align: center;
    color: rgb(96, 114, 116);
}
a {
    color: #000;
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    background: rgb(250, 238, 209);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform .5s ease-in-out;
    border-radius: 12px;
    z-index: -1;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom;
  }

#navbar {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
    flex: none;
}

.item1,.item2,.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 30vh;
    height: 30vh;
    border-radius: 12px;
 
    
}

.title {
    color: rgb(96, 114, 116);
    text-align: center;
}


@media (max-width: 800px) {
    #navbar {
      flex-direction: column; 
    }
    a:hover::before {
        transform: scaleX(1);
        transform-origin: top;
      }
  }